.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f6f6;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
    color: #edb352;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #edb352;
    font-weight: 1000;
    font-size: 2rem;
}

.nav-links li a:hover {
    color: #edb352;
    text-shadow: 0 0 5px #f3985cdc, 0 0 10px #ff944d, 0 0 15px #ff944d, 0 0 25px #ffc299;
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 15px;
        background-color: #f8f6f6;
        position: absolute;
        top: 60px; /* navbar 높이 아래 */
        left: 0;
        width: 100%;
        padding: 1rem 0;
        display: none; /* 초기엔 안 보임 (JS로 토글 가능) */
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li a {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    }
}